/* general */

body{
  background-color: rgba(225, 204, 199, 0.2);
  margin: 0;
  padding: 0;
  padding-top: clamp(110px, 9vh, 150px);
}

h1, h2 {
  color:rgb(93, 93, 93);
  margin: 0px;
  margin-bottom: 4px;
  margin-left: 10px;
}

p {
  text-align: center;
}

p, label, input, textarea{
  font-family: Arial;
  color:rgb(65, 65, 65);
  margin: 0px;
  margin-bottom: 4px;
}

span {
  font-weight: 700;
}

.timer-text, .timer-dim-text, .schedule-text, span, h1, h2, .quote-text-orig, .quote-text-hun{
  font-family: Rouge Script, Arial;
}

/* font-sizes */

h1 {
  font-size: clamp(2rem, 2.2vw, 4rem);
}

h2 {
  font-size: clamp(1.5rem, 1.8vw, 3rem);
}

p, label, input, textarea, div{
  font-size: clamp(1rem, 1rem, 2vw);
}

span {
  font-size: clamp(1.4rem, 1.4rem, 2.3vw);
}
.quote-text-orig {
  font-size: 4vmin;
}

.quote-text-hun {
  font-size: 5vmin;
}

.footer>p {
  font-size: 0.9rem;
}

.inv-name-cl {
  font-size: 40px;
}

.schedule-header {
  font-size: clamp(2.4rem, 3vw, 6rem);
}

.timer-text {
  font-size: clamp(2rem, 6vw, 50px);
}

.timer-dim-text {
  font-size: clamp(1.8rem, 4vw, 30px);
}

.schedule-text {
  font-size: 7vmin;
}

.schedule-dot {
  font-size: 9vmin;
}

/* quote */

.quote {
  background-color: rgb(182, 130, 119);
  margin-top: 10px;
  margin-bottom: 10px;
}

.quote-text-orig {
  font-weight: 700;
  color: whitesmoke;
  text-align: right;
  padding: 4vmin;
  padding-bottom: 1vmin;
  padding-top: 1vmin;
}

.quote-text-hun {
  font-weight: 600;
  color: whitesmoke;
  text-align: center;
  padding: 1vmin;
  padding-bottom: 2px;
  padding-top: 2px;
}

/* snitt */

.snitt {
  width: 100%;
  height: 100svh;
  object-fit: cover;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0;
}

/* horizontal line */

hr {
  border-color: rgba(184, 135, 11, 0.95);
}

/* Hero section */

.hero {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90svh;
}

.img-engagement {
  max-height: 60svh;
  max-width: 650px;
  width: 100%;
  object-fit: cover;
  min-height: 500px;
}

.hero-text {
  width: 700px;
  max-width: 95vw;
}

#wedding-gift {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

 #wedding-gift > p{
  margin-left: 5px;
  text-wrap: nowrap;
}

/* story section */

#our-story {
  display: flex;
  justify-content: space-between;
}

#our-story > img{
  flex: 1;
  min-width: 150px;
  max-width: 28vw;
  height: 80vh;
  object-fit: cover;
  border-radius: 20px;
  margin: 0;
}

#our-story-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  min-width: 200px;
  max-width: 28vw;
  padding-left: 20px;
  padding-right: 20px;
}

.story-paragraph {
  font-weight: 600;
}

@media (orientation: portrait) {
  .our-story-text>p {
    font-size: clamp(0.9rem, 0.9rem, 1.3vw);
  }

  #our-story{
    display: block;
  }

  #our-story > img{
    width: 70vw;
    max-width: 75vw;
    margin-left: 15vw;
    height: 70vh;
  }

  #our-story-text {
    width: 97vw;
    height: auto;
    max-width: 97vw;
    padding: 0px;
  }

  #our-story-text > p {
    width: 95vw;
    max-width: 95vw;
  }

  .story-paragraph {
    width: 95vw;
    max-width: 95vw;
    text-align: center;
    font-weight: 600;
  }

}

#story-images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 420px;
  max-height: 26.7vw;
}

#story-images > img {
  max-width: 260px;
  transition: width 0.3s, max-width 0.3s, box-shadow 0.3s;
  width: 17.5vw;
  border-radius: 6px;
}

#story-images > img:hover {
  max-width: 290px;
  width: 20vw;
  box-shadow: 5px 5px 4px rgb(146, 142, 104)
}

/* schedule section */

#schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#timer-container {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  padding-left: 9vw;
  padding-right: 9vw;
  background-color: rgba(225, 204, 199, 1);
}

#timer-container > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 20vw;
  max-height: 150px;
}

#schedule-container {
  display: grid;
  grid-template-columns: 40vmin 40vmin;
}

.schedule-block:first-of-type {
   border-top-left-radius: 10%;
}

.schedule-block:last-of-type {
  border-bottom-right-radius: 10%;
}

iframe, .loc, .schedule-block {
  max-width: 500px;
  max-height: 500px;
  width: 40vmin;
  height: 40vmin;
}

.loc {
  object-fit: cover;
}

.schedule-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(225, 204, 199, 1);
}

.schedule-dot {
  color: rgb(105, 32, 32);
}

/* form */

#response-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

#response-form > div{
  width: 400px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

textarea {
  padding: 8px;
}

input {
  padding-left: 8px;
}

.submit-form {
  background-color: blanchedalmond;
  border-color: rgb(247, 168, 168);
  color: rgb(154, 55, 55);
  border-style: solid;
  border-radius: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;
  transition: background-color 0.3s;
}

.submit-form:hover {
  background-color: rgb(255, 220, 205);
}

.submit-form:active {
  background-color: rgb(255, 160, 120);
}

/* footer */

.footer {
  background-color: darksalmon;
  margin-top: 20px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer>a {
  all: unset;
  text-align: center;
  font-size: 1rem;
}

.footer>a:hover {
  cursor: pointer;
}

.footer>p {
  padding-top: 10px;
  color: rgb(37, 37, 37);
}