.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 9vh;
  min-height: 110px;
  background-color: rgba(225, 204, 199, 1);
  align-items: center;
  z-index: 100;
}

.header-logo {
  margin-left: 5vw;
  position: relative;
}

.img-logo {
  margin-top: 2px;
  height: 100px;
  transition: transform 10s;

}

.img-logo:hover {
  transform:rotate(360deg);
}

.logo-initials {
  position: absolute;
  top: 40%;
  left: 30%;
  font-family: Rouge Script;
  font-size: 100%;
  font-weight: 600;
  z-index: 101;
}

.header-name, .header-inv, .header-date, .rem-date-header {
  font-family: Rouge Script;
  font-size: clamp(1rem, 4.2vw, 6vh);
  text-align: center;
}

.rem-date-header {
  font-size: clamp(0.8rem, 3.5vw, 5vh);
}

.header-middle {
  flex: 1;
}

.header-inv {
  font-size: 5vw;
}

.header-name {
  width: 21vw;
}

.header-date-div {
  width: 160px;
  margin-right: 10px;
}
.header-date, .rem-date-header{
  margin-bottom: 0;
}

.header-inv {
  font-weight: 600;
}

@media (orientation: landscape) {
  .header {
    height: 7vh;
    min-height: 70px;
  }

  .img-logo {
    margin-top: 2px;
    height: 65px;
  }

  .logo-initials {
    top: 38%;
    left: 27%;
    font-size: 80%;
    font-weight: 600;
  }

  body{
    padding-top: 7vh;
  }

  .header-date, .rem-date-header{
    font-size: clamp(1rem, 3.6vw, 4.5vh);;
  }

  .header-inv {
    font-size: 4vw;
  }
}