.our-story {
  display: flex;
  justify-content: space-between;
}

.first-anniversary, .third-anniversary{
  flex: 1;
  min-width: 150px;
  max-width: 28vw;
  height: 80vh;
  object-fit: cover;
  border-radius: 20px;
  margin: 0;
}

.our-story-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  min-width: 200px;
  max-width: 28vw;
  padding-left: 20px;
  padding-right: 20px;
}

.story-paragraph {
  text-align: center;
  font-weight: 600;
}



.story-images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 420px;
  max-height: 26.7vw;
}

.story-images>img {
  max-width: 260px;
  transition: width 0.3s, max-width 0.3s;
  width: 17.5vw;
  border-radius: 6px;
}

.story-images>img:hover {
  max-width: 290px;
  width: 20vw;
  box-shadow: 5px 5px 4px rgb(146, 142, 104)
}

@media (orientation: portrait) {
  .our-story{
    display: block;
  }

  .first-anniversary, .third-anniversary{
    width: 70vw;
    max-width: 75vw;
    margin-left: 15vw;
    height: 70vh;
  }

  .our-story-text {
    width: 97vw;
    height: auto;
    max-width: 97vw;
    padding: 0px;
  }

  .our-story-text>p {
    font-size: clamp(1rem, 1rem, 1.7vw);
  }

}
