.schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.schedule-header {
  font-size: clamp(2.4rem, 3vw, 6rem);
}

.timer-container {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  padding-left: 9vw;
  padding-right: 9vw;
  background-color: rgba(225, 204, 199, 1);
}

.timer-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 20vw;
  max-height: 150px;
}

.timer-text {
  font-family: Rouge Script;
  font-size: clamp(2rem, 6vw, 50px);
}

.timer-dim-text {
  font-family: Rouge Script;
  font-size: clamp(1.8rem, 4vw, 30px);
}

.schedule-container {
  display: grid;
  grid-template-columns: 40vmin 40vmin;
}

.schedule-block:first-of-type {
   border-top-left-radius: 10%;
}

.schedule-block:last-of-type {
  border-bottom-right-radius: 10%;
}

iframe {
  max-width: 500px;
  max-height: 500px;
  width: 40vmin;
  height: 40vmin;
}

.loc {
  max-width: 500px;
  max-height: 500px;
  width: 40vmin;
  height: 40vmin;
  object-fit: cover;
}

.schedule-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 500px;
  max-height: 500px;
  width: 40vmin;
  height: 40vmin;
  background-color: rgba(225, 204, 199, 1);
}

.schedule-text {
  font-family: Rouge Script;
  font-size: 7vmin;
  text-align: center;
}

.schedule-dot {
  font-size: 9vmin;
  color: rgb(105, 32, 32);
}