header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 9vh;
  min-height: 110px;
  background-color: rgba(225, 204, 199, 1);
  align-items: center;
  z-index: 100;
}

body {
  padding-top: clamp(110px, 9vh, 9vh);
}

#header-logo {
  margin-left: 5vw;
  position: relative;
}

#header-logo > img {
  margin-top: 2px;
  height: 100px;
  transition: transform 10s;
}

#header-logo > p {
  position: absolute;
  top: 40%;
  left: 30%;
  z-index: 101;
}

.header-middle {
  flex: 1;
}

#header-name {
  width: 21vw;
}

#header-date-div {
  width: 160px;
  margin-right: 10px;
}

#header-date-div > p {
  margin-bottom: 0;
}

header p {
  font-family: Rouge Script, Arial;
}

#header-name, #header-inv, #header-date, #remain-date {
  text-align: center;
}

#header-logo > p {
  font-size: 100%;
  font-weight: 600;
}

#header-name, #header-date {
  font-size: clamp(1rem, 4.2vw, 6vh);
}

#remain-date {
  font-size: clamp(0.8rem, 3.5vw, 5vh);
}

#header-inv {
  font-size: 5vw;
  font-weight: 600;
}

#header-logo:hover {
  img {
    transform: rotate(360deg);
  }
}

@media (orientation: landscape) {
  header {
    height: 7vh;
    min-height: 70px;
  }

  body{
    padding-top: clamp(70px, 7vh, 7vh);
  }

  #header-logo > img {
    margin-top: 2px;
    height: 65px;
  }

  #header-logo > p {
    top: 38%;
    left: 27%;
    font-size: 80%;
    font-weight: 600;
  }

  #header-date, #remain-date{
    font-size: 30px;
  }

  #header-inv {
    font-size: 4vw;
  }
}