
body{
  background-color: rgba(225, 204, 199, 0.2);
  margin: 0;
  padding: 0;
  padding-top: clamp(110px, 9vh, 150px);
}

h1, h2 {
  color:rgb(93, 93, 93);
  font-family: Arial;
  margin: 0px;
  margin-bottom: 4px;
}

h1 {
  font-size: clamp(2rem, 2.2vw, 4rem);
}

h2 {
  font-size: clamp(1.5rem, 1.8vw, 3rem);
}

p {
  font-family: Arial;
  color:rgb(65, 65, 65);
  text-align: center;
  margin: 0px;
  margin-bottom: 4px;
  font-size: clamp(1rem, 1.2vw, 1.6rem);
}

span {
  font-family: Rouge Script;
  font-weight: 700;
  font-size: clamp(1.1rem, 1.25vw, 1.7rem);
}

.quote-1 {
  background-color: rgba(184, 135, 11, 0.95);
}

.quote-1-text {
  font-family: Rouge Script;
  font-size: 7vmin;
  font-weight: 700;
  color: whitesmoke;
  text-align: center;
  padding: 4vmin;
  padding-bottom: 1vmin;
}

.quote-1-text-hun {
  font-family: Rouge Script;
  font-size: 4vmin;
  font-weight: 600;
  color: whitesmoke;
  text-align: right;
  padding: 1vmin;
}

.snitt {
  width: 100%;
  height: 100svh;
  object-fit: cover;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

.form-row{
  width: 400px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.submit-form {
  background-color: blanchedalmond;
  border-color: rgb(210, 109, 109);
  border-style: solid;
  border-radius: 4px;
  color: rgb(190, 71, 71);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
}

.submit-form:hover {
  background-color: rgb(255, 220, 205);
}

.submit-form:active {
  background-color: rgb(255, 160, 120);
}

label, textarea, input{
  font-family: Arial;
}

textarea {
  padding: 8px;
}

input {
  padding-left: 8px;
}